
@import './styles/shared-form';

html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita scroll doble */
}

/* Asegura que tu componente layout ocupe el 100% real */
app-main-layout {
  display: block;
  width: 100%;
  height: 100vh;
}